// Font
@import url('https://fonts.googleapis.com/css?family=Lato:400|Open+Sans:400,700');

// Bootstrap
@import 'bootstrap-variables';
@import 'bootstrap/bootstrap';

// Libraries
@import 'libraries/hamburgers/hamburgers';

// Base
@import "base/colors";
@import "base/buttons";
@import "base/header";

// Components - default
@import 'components/page';
@import 'components/header';
@import 'components/footer';
@import 'components/sub-footer';
@import 'components/logo';
@import 'components/main-menu';
@import 'components/main-menu-mobile';
@import 'components/list';

// Components
@import 'components/navigation';
@import "components/service-card";
@import "components/service";
@import "components/gallery";

// Layouts
@import "layout/hero";
@import "layout/home";
 
@import "components/service";