{{ define "main" }}

<section class="hero hero-services">
  <div class="container text-center">
    <h1>{{ .Title }}</h1>

    {{ with .Params.subtitle }}
      <p class="hero-subtitle">{{ . }}</p>
    {{ end }}

    <a href="/contact/" class="btn btn-hero">
      Ajánlatot kérek
    </a>
  </div>
</section>

<div class="container pb-6">
  <div class="row">
    {{ range .RegularPages }}
      <div class="col-12 col-md-6 mb-4 d-flex">
        {{ partial "service-card.html" . }}
      </div>
    {{ end }}
  </div>
</div>

{{ end }}
